
* { padding: 0; margin: 0; font-family: Arial; }
a { -webkit-transition: all 0.3s ease-in-out; -moz-transition: all 0.3s ease-in-out; -o-transition: all 0.3s ease-in-out; transition: all 0.3s ease-in-out; }
body { width: 100%; height: 100%; float: left; }
#hoja { float: left; width: 100%; height: auto; display: block; }
#hoja #contenedor { padding: 0 0 30px; float: left; width: 60%; height: auto; display: block; margin: 0 20%; background: #e4e4e4; border-left: 1px solid #bbb; border-right: 1px solid #bbb; -webkit-border-bottom-right-radius: 50px; -webkit-border-bottom-left-radius: 50px; -moz-border-radius-bottomright: 50px; -moz-border-radius-bottomleft: 50px; border-bottom-right-radius: 50px; border-bottom-left-radius: 50px; box-shadow: 0px 0px 35px #999; }
#hoja #contenedor #menu, #hoja #contenedor #contenido {  float: left; width: 100%; height: auto; display: block; margin: 0% 0 1%; }
#hoja #contenedor #menu ul#controles, #hoja #contenedor #contenido ul#lista { float: left; width: 100%; height: auto; display: block; }
#hoja #contenedor #menu ul#controles li { float: left; list-style: none; width: 25%; }
#hoja #contenedor #menu ul#controles li a { text-decoration: none; float: left; width: 98%; margin: 1%; background: rgb(122,188,255); height: 75px; }
#hoja #contenedor #menu ul#controles li a p { color: #fff; float: right; padding: 30px 5px; text-transform: uppercase; font-weight: bolder; font-size: 0.7em; }
#hoja #contenedor #menu ul#controles li a:hover { background: rgba(64,150,238,1); }
#hoja #contenedor #menu ul#controles li a img { margin: 0 auto; width: 50px; height: 50px; padding: 10px; }
#hoja #contenedor #contenido {  float: left; width: 100%; height: auto; display: block; margin: 1% 0; }
#hoja #contenedor #contenido ul#lista li { float: left; list-style: none; width: 100%; }
#hoja #contenedor #contenido ul#lista li input[type="text"] { font-size: 20px; float: left; width: 20%; height: 100%; padding: 20px; margin: 10px 20px; }
#hoja #contenedor #contenido ul#lista li a img { width: 85px; float: left; }
#contenedor #contenido #resultados { float: left; display: none; height: auto; padding: 0px;  width: 96%; margin: 2%; }
#contenedor #contenido #resultados h5 { width: 73%; height: auto; float: left; font-size: 15px; font-family: Arial; font-weight: normal; padding: 2% 2% 2% 24%; text-align: left; margin: 0;  }
#contenedor #contenido #resultados h5 span { float: left; min-height: 50px; line-height: auto; width: 65%;}
#contenedor #contenido #resultados #errores, #contenedor #contenido #resultados #ayuda, #contenedor #contenido #resultados #datos { width: 100%; float: left; height: auto; padding: 0; margin: 0; display: block; }
#contenedor #contenido #resultados #errores h5 { float: left; color: #fff; background: #a00 url("../imagenes/error.png") no-repeat 15px; height: auto;  border: 1px solid #900; }
#contenedor #contenido #resultados #ayuda h5 { float: left;  color: #000; background: #f5f800  url("../imagenes/warning.png") no-repeat 15px; height: auto;  border: 1px solid #000; }
#contenedor #contenido #resultados #datos h5 { float: left; background: #444; color: #fff; height: auto;  border: 1px solid #000; }
#contenedor #contenido #resultados #datos h5.aprobado { background: #0d5a05 url("../imagenes/ok.png") no-repeat 15px; }
#contenedor #contenido #resultados #datos h5.reprobado { background: #900 url("../imagenes/nook.png") no-repeat 15px; }
#contenedor #contenido #resultados #ayuda h5 a.cerrar, #contenedor #contenido #resultados #errores h5 a.cerrar, #contenedor #contenido #resultados #datos h5 a.cerrar { float: right; width: 50px;}
#contenedor #contenido #resultados #ayuda h5 a.cerrar img, #contenedor #contenido #resultados #errores h5 a.cerrar img, #contenedor #contenido #resultados #datos h5 a.cerrar img { float: right; height: 50px; width: 50px; }
@media (max-width: 1380px) {
    #hoja #contenedor { width: 72%; margin: 0% 14%; }
     //#contenedor #contenido #resultados h5 { width: 91%;}
}
@media (max-width: 1280px) {
    #hoja #contenedor { width: 86%; margin: 0% 7%; }
}
@media (max-width: 1175px) {
    #hoja #contenedor #menu ul#controles li a p { display: none; }
   // #contenedor #contenido #resultados h5 { width: 90%;}
    
}
@media (max-width: 800px) {
    body { background: #e4e4e4; height: 100%; display: block;  overflow: hidden; }
    #hoja { min-height: 100%; float: left;  display: block; }
    #hoja #contenedor { box-shadow: none; background: transparent; width: 100%; margin: 0%; height: 100%; -webkit-border-bottom-right-radius: 0px; -webkit-border-bottom-left-radius: 0px; -moz-border-radius-bottomright: 0px; -moz-border-radius-bottomleft: 0px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
    #hoja #contenedor #contenido ul#lista li input[type="text"] { font-size: 4.5vw; float: left; width: 25%; height: 25%; padding: 5%; margin: 2%; }
    #hoja #contenedor #contenido ul#lista li a img { width: 17%; }
    //#contenedor #contenido #resultados h5 { width: auto;}
}
@media (max-width: 661px) {
/*    #contenedor #contenido #resultados { float: left; width: 87%; max-height: 120px; height: auto; margin: 0 10px 65px; }
    #contenedor #contenido #resultados h5 { font-size: 10px; padding: 8px 20px 8px 65px; height: auto;  margin: 0 0 5px; }
    #contenedor #contenido #resultados #errores,
    #contenedor #contenido #resultados #ayuda,
    #contenedor #contenido #resultados #datos { float: left; height: 70px; display: block;}
    #contenedor #contenido #resultados #errores h5,
    #contenedor #contenido #resultados #ayuda h5,
    #contenedor #contenido #resultados #datos h5 { height: 7; margin: 0px 0px; padding-right: 30px; float: left; display: block;  }
    #contenedor #contenido #resultados #ayuda a.cerrar img, #contenedor #contenido #resultados #errores a.cerrar img, #contenedor #contenido #resultados #datos a.cerrar img { position: relative; top: -55px; left: 84%; height: 50px; width: 50px; }
    */#hoja #contenedor #contenido ul#lista li a img { margin-top: 2%;}
}
@media (max-width: 270px) {
    
} 